*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container{
    width: 700px;
    height: 100vh;
    margin:2.5rem auto;
   
}


.insert_image > img{
    position:absolute;
    top: 79px;
    left: 176px;
    width: 350px;
    display:inline-block;
    
}
.sotto_container1{
    
    position:relative;
    width: 100%;
    height: 50vh;
    background-color:red;
}

.insert_image > h1{
    text-align: center;
    position:absolute;
    left: 233px;
    bottom: 103px;
    color:yellow;
    font-size: 35px;
    
}

.sotto_container2{
      
    position:relative;
    width: 100%;
    height: 50vh;
    background-color:green;
}

.sotto_container3{
    position:relative;
    width: 100%;
    height: 50vh;
   background-color: yellow;
}


    


.btn{
    float:right;
    
    }
html {
        scroll-behavior: smooth;
      }



    button{
     border-radius: 50%;
    width: 20px;
    height: 20px;
    margin:0.5rem;
    
     }

    
    



footer{
    text-align: center;
    margin:20px auto;
    font-size: 20px;
}

span{
    color:red;
}


